.my_swiper {
    width: 100%;
    height: 396px !important;
    padding-top: 30px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100% !important;
    object-fit: cover;
    border-radius: 16px;
}

.customPrev {
    background-color: #ffffff;
    color: white;
    border: none;
    /* padding: 10px; */
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;

    height: 48px;
    min-width: 48px;
    border-radius: 50%;
    box-shadow: rgba(21, 25, 28, 0.25) 0px 16px 16px;
}

.customNext {
    background-color: #ffffff;
    color: white;
    border: none;
    /* padding: 10px; */
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;

    height: 48px;
    min-width: 48px;
    border-radius: 50%;
    box-shadow: rgba(21, 25, 28, 0.25) 0px 16px 16px;
}